* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Plain Light";
  color: #fff;
  /* cursor: none; */
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
}

.crsr {
  height: 3.4vw;
  width: 3.4vw;
  border: 1px solid rgba(250, 243, 243, 0.493);
  position: fixed;
  z-index: 9999;
  border-radius: 50%;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease;
}
.main {
  position: relative;
  background-color: #030303;
}

.loader {
  height: 100%;
  width: 100vw;
  background-color: #030303;
  position: fixed;
  z-index: 999;
  padding: 16vh 10vw;
  font-size: 3em;
}

.line h1 {
  text-transform: uppercase;
}
.line {
  height: fit-content;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3vw;
}
.line-part-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
.line-part-1 h5,
.line-part-1 h6 {
  font-size: 3vw;
  font-weight: 100;
  font-family: "silk serif";
}
.line-part-1 h5 {
  width: 5vw;
  text-align: right;
}
.line h2 {
  text-transform: uppercase;
  font-size: 4.7vw;
  font-weight: 900;
  opacity: 0;
  /* animation-name: anime; */
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.page1 {
  height: 100vh;
  width: 100%;
  background-color: #151515;
}

@keyframes anime {
  0% {
    font-family: "plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 1;
  }

  48% {
    font-family: "plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 0;
  }

  50% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    font-weight: 500;
    color: transparent;
    opacity: 1;
  }

  100% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    font-weight: 500;
    color: transparent;
    opacity: 0;
  }
}

/* ------------------navbar---------------- */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 3rem 8rem;
}
.nav-part2 {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  margin-left: 4rem;
  align-items: end;
}
.nav-part2 h4 {
  /* font-size: 2rem; */
  font-weight: 500;
  /* margin: 2rem; */
}

/* -------------section1------------- */

.section1 {
  width: 50rem;
  margin: auto;
  text-align: center;
  margin: 4rem 24rem;
}
.section1 h1 {
  display: flex;
  font-size: 6.2rem;
  font-weight: 600;
  line-height: 6.4rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.hero{
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 99999;

}

.section1 h2,h3 {
  display: flex;
  font-size: 6.2rem;
  font-weight: 600;
  line-height: 6.4rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.hero h2:hover{
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  font-weight: 500;
}